$maincolor: rgba(14, 31, 124, 0.18);
$titlecolor: black;


/*bouton primaire*/

$primary-colorP: #2563eb; // bleu-600
$primary-colorP-hover: #1d4ed8; // bleu-700
$text-colorP: #ffffff;

/*bouton secundaire*/

$border-colorS: #475569;       // slate-600
$border-colorS-hover: #94a3b8; // slate-400
$text-colorS: #334155;  

/*bouton tag*/

$background-colorT:#DBEAFE;
$colorT:#0b4bd5;

/*couleur de fond*/

$background-color1:#F8FAFC;

/*couleur active*/

$colorA:rgb(154, 123, 232);


$color__title:#48c397;

$color__hover:#4D6D62;

$color__primus:#C29F48;

$color__quintus:#42403A;