$maincolor: #0e1f7c73;
$titlecolor: #60A5FA;


/*bouton primaire*/

$primary-colorP: #2563eb; // bleu-600
$primary-colorP-hover: #1d4ed8; // bleu-700
$text-colorP: #ffffff;

/*bouton secundaire*/

$border-colorS: #475569;       // slate-600
$border-colorS-hover: #94a3b8; // slate-400
$text-colorS: #334155;  