@use "@styles/variable.scss" as *;

.button {
    display: flex;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $primary-colorP;
    color:$text-colorP;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    align-items: center;
    cursor: pointer;
     transition: background-color 0.2s ease;

    &:hover {
        background-color: $primary-colorP-hover;
    }

    .button-img {
        width: 30px;
        height: 30px;
    }

}