@use "@styles/variable.scss" as *;

.buttonT {
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $background-colorT;
    color: $colorT;
    text-decoration: none;

}