@use "@styles/variable.scss" as *;

.card {
  background-color: white;
  position: relative;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; // Transition pour le déplacement
  height: 400px;

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: $text-colorP;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
    z-index: 2;
    opacity: 0; // Masqué par défaut
    transition: opacity 0.3s ease; // Animation fluide
  }

  &:hover {
    transform: translateY(-5px); // Déplacement au survol
  }

  // Conteneur pour l'image et son overlay
  &__image-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;

    .card__image {
      width: 100%;
      height: 200px;
      border-radius: 30px;
      object-fit: cover;
      object-position: top;
      display: block;
    }
  }

  .logoCard {
    display: flex;
    gap: 20px;
    position: absolute; // Positionnement absolu
    bottom: 10px; // 10px du bas du parent
    left: 10px; // 10px de la gauche (optionnel)
    display: flex;
    align-items: center; // Centre verticalement le contenu (optionnel)

    img {
      width: 20px;
      height: 20px; // Conserve les proportions
    }

    a {
      display: flex;
      color: black;
      gap: 10px;
      font-size: 15px;
      align-items: center;
    }
  }

  // Titre superposé à l'image



  // Overlay UNIQUEMENT sur l'image
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
    z-index: 1;


  }

  // Afficher l'overlay au survol de l'image
  // Afficher le titre et l'overlay au survol
  &__image-container:hover &__overlay,
  &__image-container:hover &__title {
    opacity: 1; // Visible au survol
  }

  // Description EN DEHORS de l'overlay
  &__description {
    padding: 15px;
    margin: 0;
    color: #333;
    font-size: 14px;
    text-align: center;
  }
}

.buttonTag {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
}