.card {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    .card-image {
        position: relative;

        img {
            width: 100%;
            height: 200px;
            border-radius: 20px;
            object-fit: cover;
            object-position: top;
        }

        .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
        }

        &:hover .card-overlay {
            opacity: 0.5;
        }
    }

    p {
        margin-top: 10px;
        text-align: center;
    }
}
