.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; // Transition pour le déplacement
  height: 400px;

  &:hover {
    transform: translateY(-5px); // Déplacement au survol
  }

  // Conteneur pour l'image et son overlay
  &__image-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;

    .card__image {
      width: 100%;
      height: 200px;
      border-radius: 30px;
      object-fit: cover;
      object-position: top;
    }
  }



  // Overlay UNIQUEMENT sur l'image
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
  }

  // Afficher l'overlay au survol de l'image
  &__image-container:hover &__overlay {
    opacity: 1; // L'overlay devient opaque UNIQUEMENT au survol de l'image
  }

  // Description EN DEHORS de l'overlay
  &__description {
    padding: 15px;
    margin: 0;
    color: #333;
    font-size: 14px;
    text-align: center;
  }
}