@use "@styles/variable.scss" as *;

.card {
  background-color: white;
  position: relative;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; // Transition pour le déplacement
  height: 430px;

  &__title {
    padding: 10px;
    margin: 0;
  }

  &__description {
    position: absolute;
    inset: 0;
    z-index: 2;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: opacity 0.3s ease;

  }


  &:hover {
    transform: translateY(-10px); // Déplacement au survol
  }

  // Conteneur pour l'image et son overlay
  &__image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;

    .card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }


  }

  .logoCard {
    display: flex;
    gap: 20px;
    position: absolute; // Positionnement absolu
    bottom: 10px; // 10px du bas du parent
    left: 10px; // 10px de la gauche (optionnel)
    display: flex;
    align-items: center; // Centre verticalement le contenu (optionnel)

    img {
      width: 20px;
      height: 20px; // Conserve les proportions
    }

    a {
      display: flex;
      color: black;
      gap: 10px;
      font-size: 15px;
      align-items: center;
    }
  }


  // Overlay UNIQUEMENT sur l'image
  &__overlay {
    position: absolute;
    inset: 0; // équivalent à top:0; left:0; right:0; bottom:0
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;


  }

  &__image-container:hover &__overlay,
  &__image-container:hover &__description {
    opacity: 1; // Visible au survol
  }

}

.buttonTag {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 55px;
  align-items: center;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {

  .projectList {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .card {
    height: 600px;

    &__image-container {
      height: 400px;
    }
  }
}