html,
body,
#root,
main {
  max-width: 1240px;
  margin: 0 auto;
  line-height: 1.5;
}

#presentation,
#competences,
#portfolio,
#apropos,
#contact {
  scroll-margin-top: 120px; 
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

p{
  font-size: 16px;
  font-weight: 400;
}